
.posted_food_info {
  display: flex;
}

.posted_foods {
  margin: 30px 80px 20px 0;
}
.food_posted_user {
  margin-bottom: 5px;
  font-size: 15px;
}

.posted_food_title {
  padding-bottom: 2px;
  font-size: 15px;
}

.posted_food_time {
  margin-bottom: 8px;
  padding: 2px 10px 0 0;
  border-bottom: 1px solid rgb(92, 92, 92);
  font-size: 13px;
}

.posted_food_text {
  font-size: 15px;
}

.food_comment_info {
  padding: 40px 0 0 0;
}

.food_comment_list {
  text-align: center;
  justify-content: center;
  align-content: center;
}

.posted_food_comment {
  display: inline-block;
  margin-bottom: 3px;
}

.food_comment_user {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}

.food__time {
  font-size: 10px;
}

.no_food_comment {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 40px 0;
  font-size: 18px;
}

.food_comment_field {
  display: inline;
  margin-top: 50px;
}

.food_comment_btn {
  color: rgb(99, 99, 99);
  justify-content: center;
  padding: 0.25em 0.5em;
  border-bottom: solid 2px rgb(225, 217, 210);
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  background-color: rgb(239, 226, 213);
  border: 2px solid rgb(208, 199, 192);
  outline: none;
  margin: 30px 0 50px 0; 
  height: 40px;
  width: 150px;
  opacity: 0.9;
  margin-bottom: 50px;
}

.food_comment_btn:active  {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  background-color: rgb(223, 210, 196);
}