/* header全体のCSS */

* {
  font-family: Courier, Times;
}

a:hover {
  color: rgb(62,62,62);
  text-decoration: none;
}

a:visited {
  color: rgb(62,62,62);
}

/* header左側のCSS */

.site_header {
  border: 2px solid rgb(62,62,62);
  height: 200px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color:rgb(255, 255, 255);
}

.title {
  color: rgb(62, 62, 62);
  font-size: 70px;
  margin-bottom: 30px;
  padding: 20px;
  top: 15px;
  left: 15px;
}

.hart {
  font-size: 26px;
  margin: 0px 10px;
  vertical-align: middle;
}

.logo {
  height: 100px;
  width: 100px;
}

.main_header {
  display: flex;
  align-items: flex-end;
}

.black_cat {
  height: 100px;
  width: 100px;
}

/* header右側のCSS */

.header_lists {
  color: rgb(118, 118, 118);
  font-size: 15px;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
}

.header_lists li{
  margin: 0 15px 20px 15px;
}

.header_lists_wrapper {
  display: flex;
  height: 2rem;
}

.header_lists_wrapper li{
  position: relative;
  display: block;
    color: #fff;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}

.header_lists_wrapper li li {
  height: 0;
  overflow: hidden;
  transition: .5s;
}

.header_lists_wrapper li:hover > ul > li {
  height: 2rem;
  overflow: visible;
  background-color: white;
  border: 1px solid rgb(62,62,62);
  margin: 8px;
}

.header_list :hover :active {
  transform: scale(0.9);
  transition-duration: 0.6s;
  opacity: 0.9;
}

.header_lists_wrapper li > ul > li:hover{
  background-color: rgb(220, 220, 220);
}

