<!DOCTYPE html>
<html>

<div class="second-footer">
    <%= link_to root_path do %>
      <h1 class="second-footer_title">
        <%= image_tag "cutie_pies.png", size: '50x50' %>CUTIE<span class="hart">❤︎</span>PIES
      <h1>
    <% end %>

    <div class= "second_footer_copyright">
      <p>© 2020 CUTIE PIES all rights reserved.</p>
    </div>
</div>

  <body>
    <%= yield %>
  </body>
</html>