.shares_body {
  background-color: #f0eeea;
}

.share_title {
  margin: 40px 15% 20px 15%;
  border-bottom: 2px solid rgb(62, 62, 62);
  font-size: 30px;
  width: 70vw;
  text-align: center;
}

.recommended_title {
  font-weight: bold;
  margin: 0 0 10px 25%;
}

.recommended_text {
  margin: 0 0 10px 25%;
  border-bottom: 1px solid rgb(92, 92, 92);
  width: 50vw;
  padding-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 8px;
}

.share_btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share_btn {
  font-size: 18px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
}

.share_btn:hover{
  border-bottom: 1px solid rgb(62, 62, 62);
}

.pagination {
  display: flex;
  justify-content: center; 
  margin: 40px 0 50px 0;
}

.pagination>.active>a {     
  background: #93c9ff;
}

a, a:visited, a:focus, a:hover {
  text-decoration: none;
}
