<%= render "shared/header" %>

<body class="food_body">
  <h1 class="share_food_title">SHARE YOUR PET FOOD RECOMMENDATION </h1>
  <div class="share_food_btn_wrapper">
   <%= link_to "おすすめを投稿する", new_food_path, class:"share_food_btn" %>
  </div>
  <ul>
    <li class="food_recommend_title">タイトル：</li>
    <li class="food_recommend_text">ここにぼんやりとはじめの文章を入れておく</li>
    <li class="food_recommend_title">タイトル：</li>
    <li class="food_recommend_text">ここにぼんやりとはじめの文章を入れておく</li>
    <li class="food_recommend_title">タイトル：</li>
    <li class="food_recommend_text">ここにぼんやりとはじめの文章を入れておく</li>
    <li class="food_recommend_title">タイトル：</li>
    <li class="food_recommend_text">ここにぼんやりとはじめの文章を入れておく</li>
    <li class="food_recommend_title">タイトル：</li>
    <li class="food_recommend_text">ここにぼんやりとはじめの文章を入れておく</li>
    <li class="food_recommend_title">タイトル：</li>
    <li class="food_recommend_text">ここにぼんやりとはじめの文章を入れておく</li>
  </ul>

</body>


<div class="top_page_link">
    <%= link_to "前のページに戻る", :back %>
</div>
<%= render "shared/footer" %>