a {
  color: rgb(62,62,62);
  text-decoration: none;
}

a:visited {
  color: rgb(62,62,62);
}


h3 {
  margin: 10px 0 25px 8px;
}

.cat_main {
  background-color: rgb(255, 241, 231);
  padding:0 45px;
}
.inner {
  padding-top: 20px;
  margin: 0 auto;
}

.page-title {
  width: 75vw;
  font-size: 30px;
  margin: 30px 0 10px 0;
  border-bottom: 2px solid rgb(62, 62, 62);
}

.card__body {
  flex-direction: column;
  flex-wrap: wrap;
}

.pic {
  display: flex;
  justify-content: space-between;
  width: calc((100vw - 40px) / 3);
  margin: 40px 40px 40px 0;
}

.posted_pic {
  margin-right: 20px ;
  width: 32vh;
  height: 38vh;
  margin-bottom: 8px;
}

.card__text {

}

.card__user {
  font-weight: bold;
}

.card__title {
  font-size: 18px;
  margin-bottom: 8px;
}

.card__summary {
  background-color: steelblue;
  font-size: 15px;
  margin-bottom: 20px;
}

.btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.see_more {
  font-size: 20px;
  margin-right: 25px;
}

.post_btn{
  font-size: 20px;
  margin-right: 25px;
}

.next_page {
  width: 38px;
  height: 32px;
  margin-bottom: 5px;
  vertical-align: middle;
}


/* -----------------------share pics ここまで---------------------------------- */
/* -----------------------share recommendation ここから---------------------------------- */

.recommendations_main{

}

.recommendations_main img {
  width: 45vh;
  height: 45vh;
  border-radius: 50%;
  border: 3px solid gray;
}

.recommended_list {
  display: inline-block;
}

.recommendation_title{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 23px;
  margin-top: 8px;
}
 
.recommendations_main  img:hover {
  transform: scale(0.9);
  transition-duration: 0.6s;
  opacity: 0.9;
}


