* {
  color: rgb(62,62,62);
}

.cat_post_main {
  justify-content: center;
  text-align: center;
}

.cat_post_header{
  display: flex;
  justify-content: center;
}

.cat_posting {
  border-bottom: rgb(30, 30, 21) solid 2px;
  font-size: 25px;
  display: flex;
}

.hidden {
  display: none;
}

.image-file {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  margin: 40px 0 20px 0;
  background-color: rgb(220, 217, 217);
  border: 2px solid rgb(196, 192, 192);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px rgba(255,255,255,0.2);
  border-radius: 4px;
  opacity: 0.9;
}

.image-file:active  {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  background-color: rgb(213, 210, 210);
}

.post-form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.post-form-group:first-child {
  padding: 0;
}

.post-form-wrap {
  display: flex;
  text-align: left;
  width: 100%;
  height: 20%;
}

.post-form-text {
  font-size: 14px;
  font-weight: bold;
}

.post_title {
  height: 40px;
  width: 580px;
  margin-top: 8px;
}

.post_message {
  margin-top: 8px;
  height: 280px;
  width: 580px;
}

.form-submit {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  border-bottom: solid 2px rgb(223, 201, 183);
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  background-color: rgb(252, 237, 219);
  border: 2px solid rgb(245, 226, 210);
  outline: none;
  margin: 30px 0 50px 0; 
  height: 40px;
  width: 150px;
  opacity: 0.9;
}

.form-submit:active  {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  background-color: rgb(244, 230, 214);
}