a {
  color: rgb(62,62,62);
  text-decoration: none;
}

a:visited {
  color: rgb(62,62,62);
}

h3 {
  margin: 10px 0 25px 8px;
}

.posted_cat_main {
  width: 100vw;
  background-color: rgb(255, 241, 231);
  padding:0 45px;
}
.posted_inner {
  padding-top: 20px;
  margin: 0 auto;
}

.posted_page-title {
  width: 75vw;
  font-size: 30px;
  margin: 30px 0 10px 0;
  border-bottom: 2px solid rgb(62, 62, 62);
}

.posted_card__body {
  display: flex;
  flex-direction: column;
}

.posted_pic_wrapper {
  width: 90vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin: 40px 40px 40px 0;
}

.posted_pic {
  border-radius: 8px;
  margin-right: 20px ;
  width: 32vh;
  height: 38vh;
  margin-bottom: 8px;

}

.posted_card__text {
  width: 85%;
}

.posted_card__user {
  font-weight: bold;
}

.posted_card__title {
  font-size: 18px;
  margin-bottom: 8px;

}

.posted_card__summary {
  background-color: steelblue;
  font-size: 15px;
  margin-bottom: 20px;
}

.posting_pic_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


.posting_pic {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0.25em 0.5em;
  border-bottom: solid 2px rgb(234, 221, 210);
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(118, 72, 72, 0.19);
  background-color: rgb(245, 245, 245);
  border: 2px solid rgb(242, 233, 225);
  outline: none;
  margin: 30px 0 50px 0; 
  height: 40px;
  width: 150px;
  opacity: 0.9;
}

.posting_pic:active  {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  background-color: rgb(245, 240, 234);
}

